[submodule "Docker-Ultimate-Guide"]
	path = Docker/Docker-Ultimate-Guide
	url = https://github.com/Ahmedwagdymohy/Docker-Ultimate-Guide
[submodule "Docker-Projects/Mongodb-with-MongoExpress"]
	path = Docker/Docker-Projects/Mongodb-with-MongoExpress
	url = https://github.com/Ahmedwagdymohy/Mongodb-with-MongoExpress
[submodule "Docker-Projects/Nginx-as-LoadBalancer-Docker"]
	path = Docker/Docker-Projects/Nginx-as-LoadBalancer-Docker
	url = https://github.com/Ahmedwagdymohy/Nginx-as-LoadBalancer-Docker.git
[submodule "Jenkins-Projects/Gtest-with-Jenkins"]
	path = Jenkins/Jenkins-Projects/Gtest-with-Jenkins
	url = https://github.com/Ahmedwagdymohy/Gtest-with-Jenkins
[submodule "Linux/Linux-Projects/Wifi_Hotspot_Linux"]
	path = Linux/Linux-Projects/Wifi_Hotspot_Linux
	url = https://github.com/Ahmedwagdymohy/Wifi_Hotspot_Linux
