[submodule "Docker-Ultimate-Guide"]
	path = Docker-Ultimate-Guide
	url = https://github.com/Ahmedwagdymohy/Docker-Ultimate-Guide
[submodule "Docker-Projects/Mongodb-with-MongoExpress"]
	path = Docker-Projects/Mongodb-with-MongoExpress
	url = https://github.com/Ahmedwagdymohy/Mongodb-with-MongoExpress
[submodule "Docker-Projects/Nginx-as-LoadBalancer-Docker"]
	path = Docker-Projects/Nginx-as-LoadBalancer-Docker
	url = https://github.com/Ahmedwagdymohy/Nginx-as-LoadBalancer-Docker.git
